.demo {
  text-align: center;
}

.properties {
  display: flex;
  justify-content: center;
  padding: 10px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: #f0f0f0;
  border-right: solid #d0d0d0 1px;
  color: #525252;
}

form > div {
  display: flex;
  padding: 3px;
}
form > div * {
  padding: 1px;
}
form > div input[type=number],
form > div input[type=color] {
  flex-grow: 1;
  border-width: 0 1px 1px 0;
  background: white;
}

code {
  padding: 10px;
  display: inline-block;
  background: #f0f0f0;
  color: #525252;
}

